<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.programiocode.mapper.question.QuestionInfoMapper">
    <!-- 手动映射 -->
    <resultMap id="questionInfoResultMap" type="com.example.programiocommon.pojo.dto.QuestionInfoDTO">
        <result property="id" column="id"/>
        <result property="questionId" column="question_id"/>
        <result property="difficulty" column="difficulty"/>
        <result property="question" column="question"/>
        <result property="timeRequest" column="time_request"/>
        <result property="memoryRequest" column="memory_request"/>
    </resultMap>

    <!-- 插入数据 -->
    <insert id="insertQuestionInfo" parameterType="com.example.programiocommon.pojo.dto.QuestionInfoDTO">
        INSERT INTO question_info (question_id, difficulty, question, time_request, memory_request)
        VALUES (#{questionId}, #{difficulty}, #{question}, #{timeRequest}, #{memoryRequest})
    </insert>

</mapper>
